
{% extends 'core/base.html' %}
{% block title %} 
    Portafolio
{% endblock %}


{% block background %} {% load static %} {% static 'core/img/portfolio-bg.jpg' %} {% endblock %}

{% block headers %}   
    <h1>Portafolio</h1>
	<span class="subheading">Currículo</span>
{%endblock%}


{% block content %} 
	{% for Project in Projects%}
				
				<!-- Proyecto -->
			
				<div class="row project">  	
					<div class="col-lg-3 col-md-4 offset-lg-1">
						<img class="img-fluid" src="{{Project.image.url}} " alt="">
					</div>
					<div class="col-lg-7 col-md-8">
						<h2 class="section-heading title">{{Project.title}}</h2>   
					<p>{{Project.description}}</p>
					<p><a
					href="http://google.com"
					{%if hred.path != "" %}  
					> Más información
					{% endif %}
					</a></p>
					</div>
				</div>
			
				{%endfor%}
{% endblock %}
